.Main {
  background-color: rgba(122, 120, 97, 0.575);
}

/* 
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS28xxEIGVAS9agih3HnQ3wt-JFQQE1sTw3VANqfG-gYhPo308TWg&s');
background-repeat: repeat;
*/
